@import "file:////Users/memz233/Desktop/Projects/Greatdori/Zeile-Docs/node_modules/vuepress-theme-hope/templates/palette/palette.scss";
@import "file:////Users/memz233/Desktop/Projects/Greatdori/Zeile-Docs/src/.vuepress/styles/palette.scss";
@import "file:////Users/memz233/Desktop/Projects/Greatdori/Zeile-Docs/node_modules/vuepress-theme-hope/templates/palette/generator.scss";
