@import "file:////Users/memz233/Desktop/Projects/Greatdori/Zeile-Docs/node_modules/vuepress-theme-hope/templates/palette/config.scss";
@import "file:////Users/memz233/Desktop/Projects/Greatdori/Zeile-Docs/src/.vuepress/styles/config.scss";
